<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Song">
    <insert id="insertSong">
        insert into Song (title, artist, composer, lyric, genre, releaseDate, review)
        values (#{title}, #{artist}, #{composer}, #{lyric}, #{genre}, #{releaseDate}, #{review})
    </insert>
    <update id="updateSong">
        update Song
        set title= #{title}, artist=#{artist}, composer=#{composer}, lyric = #{lyric}, genre= #{genre}, releaseDate = #{releaseDate}, review = #{review} where cnt=#{cnt}
    </update>
    <delete id="deleteSong">
        delete from Song where cnt=#{cnt}
    </delete>
    <select id="getSong" resultType="Song">
        select * from Song where cnt = #{cnt}
    </select>
    <select id="getSongList" resultType="Song">
        select * from Song order by cnt desc
    </select>
</mapper>